
<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Nutrition Policy: Meals and Snacks
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        The Center will provide nourishments three times each day.  Breakfast, lunch and an afternoon snack will be distributed in a family style dining setting.  All meals and snacks are prepared based on the USDA Child Care Food Program Guidelines.  Menus are posted and are available for pick up in the front office weekly.  This Center participates in Child and Adult Care Food Program of the Texas Department of Agriculture, which meet all federal recommended daily nutritional standards.  All parents/guardians are requested to fill out an annual Child Food Program Eligibility Application in order for the center to maintain CACFP compliance.  People who need to file a complaint with Food and Nutrition (F&N) at the Texas Department of Agriculture should use this form. Assistance available in English and Spanish. Please call 877-TEX-MEAL (877-839-6325) for help.
                    </p>
                    <p>  
                        Kiddie Korner provides infants with three bottles of Similac Advance; to participate we ask that you please bring three bottles with at least six ounces of filtered water.  Kiddie Korner respectfully ask that parents provide the center with one bottle already prepared with formula from home; therefore parent’s will be bringing a total of four bottle to the center three with filtered water and one prepared.  If your infant is on any other brand of formula we ask that you bring all four bottles already prepared with the formula of your choosing, this is also in regards to breast milk.  The center does provide Stage 2 baby foods i.e. fruit, vegetable, and meat.  If parents wish to provide their infants with snacks for infants they are more than encouraged to bring them.
                    </p>
                    <p>   
                        Parents are required to fill out an infant feeding schedule before the first day of care whether or not the Center provides the food, and every month thereafter.
                    </p>
                    <p>   
                        Parents must provide food for children who are in special diets, any food allergies that are physician certified the center can make arrangements for special diets regarding food allergies with doctor’s note.
                    </p>
                    <p>   
                        Breakfast will be served from 8:00 a.m. with the last serving being 8:25 a.m. Breakfast ends at 8:30 a.m.
                    </p>
                    <p> 
                        Centers requires all children to be at center by 9:00 a.m. if child/children will be late please call to inform us to they can be included in lunch count.  Any children that arrived past lunch time will need to bring a lunch or be fed before they arrive.  Lunch is served as followed:
                    </p>
                    <li>
                        Infants: 11:00 a.m. - 11:30 a.m.
                    </li>
                    <li>
                        12 months - 3 years old 11:00 a.m. - 11:30 a.m.
                    </li>
                    <li>
                        4 years olds - 12 years old 11:30 a.m. - 12:00 p.m.
                    </li>
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/images/jony-ariadi-QZub8Ni3x_c-unsplash.jpg"
            style="width:600px;height:400px;">
    </mat-grid-tile>
</mat-grid-list>
    
<br>

<mat-card>
    <mat-card-title>Breast Feeding</mat-card-title>
    <mat-card-content>
        <p>
            Kiddie Korner Private School is committed to providing a breastfeeding friendly environment for our enrolled children and staff. Kiddie Korner Private School subscribes to the following policy:
        </p>
        <li>
            A.	Breastfeeding mothers shall be provided a place to breastfeed or express their milk. Breastfeeding mothers, including employees, shall be provided a private and sanitary place (other than a bathroom) to breastfeed their babies or express milk. This area has an electric outlet, comfortable chair, and nearby access to running water. Mothers are also welcome to breastfeed in front of others if they wish.
        </li>
        <li>
            B.	A refrigerator will be made available for storage of expressed breast milk. Breastfeeding mothers and employees may store their expressed breast milk in the center refrigerator. Mothers should provide their own containers, clearly labeled with name and date.
        </li>
        <li>
            C.	Sensitivity will be shown to breastfeeding mothers and their babies. The center is committed to providing ongoing support to breastfeeding mothers, including providing an opportunity to breastfeeding their baby in the morning and evening, and holding off giving a bottle, if possible, when mom is due to arrive. Infant formula and solid foods will not be provided unless requested by the mother. Babies will be held closely when feeding.
        </li>
        <li>
            D.	Staff shall be trained in handling breast milk. All center staff will be trained in the proper storage and handling of breast milk, as well as ways to support breastfeeding mothers. The center will follow human milk storage guidelines from the American Academy of Pediatrics and Centers for disease Control and Prevention to avoid waste and prevent food borne illness.
        </li>
        <li>
            E.	Breastfeeding employees shall be provided flexible breaks to accommodate breastfeeding or milk expression. Breastfeeding employees shall be provided a flexible schedule for breastfeeding or pumping to provide breast milk for their children. The time allowed would not exceed the normal time allowed to other employees for lunch and breaks. For time above and beyond normal lunch and breaks, sick/annual leave may be used, or the employee can come in earlier or leave later to make up the time.
        </li>
        <li>
            F.	Breastfeeding promotion information will be displayed. 
        </li>

        <br>

        <p>
            The center will provide information on breastfeeding, including the names of area resources should questions or problems arise. In addition, positive promotion of breastfeeding will be on display in the center. 
        </p>

        </mat-card-content>
</mat-card>


<br>
        