<mat-card>
    <mat-card-title>Contact Us</mat-card-title>
</mat-card>

<br>

  <div class="container">
      <div class="card-deck card-columns row">

          <div class="col card">
              <div class="card-text">
                  <div class="card-body">
                    <p class="card-text">
                        We are convinently located at Twelfth and S Bishop Ave
                    </p>
                    <p class="card-text">
                        Address:<br>
                        Kiddie Korner Private School<br>
                        328 W Twelfth St,<br>
                        Dallas, TX 75208
                    </p>
                    <p class="card-text">
                        Phone: <br>
                        (214) 946-3151
                    </p>
                  </div>
              </div>
          </div>

          <div class="col card" style="border: none;">
            <div class="card-text">
                <div class="card-body">
                    <a href="https://www.google.com/maps/place/Kiddie+Korner+Private+School/@32.7410159,-96.8280136,15z/data=!4m2!3m1!1s0x0:0x8d604639b218b5da?sa=X&ved=2ahUKEwjYhfi-xbn2AhUWbs0KHdweAmoQ_BJ6BAgsEAU"
                    target="_blank">
                        <img  class="card-img"
                        src="../../assets/images/map.png" alt="map">
                    </a>
                </div>
            </div>
        </div>

      </div>
  </div>
  <br>