
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Contact Us
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        We are convinently located at Twelfth and S Bishop Ave
                    </p>
                    <p>
                        Address:<br>
                        Kiddie Korner Private School<br>
                        328 W Twelfth St,<br>
                        Dallas, TX 75208
                    </p>
                    <p>
                        Phone: <br>
                        (214) 946-3151
                    </p>
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <a href="https://www.google.com/maps/place/Kiddie+Korner+Private+School/@32.7410159,-96.8280136,15z/data=!4m2!3m1!1s0x0:0x8d604639b218b5da?sa=X&ved=2ahUKEwjYhfi-xbn2AhUWbs0KHdweAmoQ_BJ6BAgsEAU"
                    target="_blank">
                        <img
                        src="../../assets/images/map.png" alt="map">
                    </a>
    </mat-grid-tile>
</mat-grid-list>