
<div class="container">
    <mat-card>
        <mat-card-title>
            <mat-card-title>
                Enrollment Procedures
            </mat-card-title>
            <mat-card-content>
                <li>
                    Parents may either call or stop by the facility to see if there is space available for the enrollment of their child/children. If said space is available then parents are more than welcome to take the Parent handbook, enrollment package, and school supply list with them to be filled out and returned whenever the family is ready for the child to start at the Private School.
                </li>
                <br>
                <li>
                    The Private School enrollment package must be completely filled out upon being submitted, along with all documents including immunization records and turned into the front office. Enclosed in the enrollment package is a health statement that must be taken to the child’s physician stating that the physician authorizes the child to take part in the Private School program.
                </li>
                <br>
                <li>
                    Upon submitting the completed application to the office, the registration fee annually (from August to the next August) for each child at the center and first week’s tuition will be due at this time depending on the age of the child/children will determine the amount due. If your child is enrolled in the months of June or July, you will not be required to pay an additional $100 registration fee in August. REGISTRATION FEES ARE NON-REFUNDABLE. The first week’s tuition will be prorated depending on the start date, and the following Monday and every Monday thereafter tuition will be the amount stated upon entrance. There is a $5.00 late fee per day added to the tuition if not paid on Monday.
                </li>
                <br>
                <li>
                    Parents are responsible to immediately notify Kiddie Korner if at any time there is a change of employment, address or emergency telephone numbers.
                </li>
            </mat-card-content>
        </mat-card-title>
    </mat-card>
</div>

<br>

<div class="container">
    <mat-card>
        <mat-card-title>
            Downloads
        </mat-card-title>
        <mat-card-content>
            <li>
                <a href="assets/documents/Kiddie Korner School Handbook.docx"
                target="_blank" rel="noopener noreferrer"
                class="link-dark"
                >Parent Handbook / Enrollment Packet</a>
            </li>
        </mat-card-content>
    </mat-card>
</div>

<br>
