<div class="container">
    <mat-card>
    <div class="card-deck card-columns row">
        <div class="col card" style="border: none;">
            <mat-card>
                <mat-card-title>Kiddie Korner Private School</mat-card-title>
                <mat-card-content>
                    <p>
                        We are a licensed by the Texas Department of Family Protective Services (DFPS) and meet or exceed all state standards and regulations for child care centers. We have many years of experience in arly childhood education and we maintain small group sizes to proide more personal attention to the needs of all children in our care.
                    </p>
                    <p>
                        Kiddie Korner is open to all children regardless of race, church affiliations or creed. Children at Kiddie Korner are supervised at all time by an adult with teacher and CPR qualifications.
                    </p>
                    <p>
                        When accepting a child in Kiddie Korner, our goal is to provide each child with the best possible environment though education, love and care.
                    </p>
                    <p>
                        Involving families in our program is a top priority. This helps build a partnership and help children make the connection between home and the Center. Kiddie Korner Private School serves as an extension of your family and sharing ideas and genuine love for children is of the utmost importance. We encourage parents to visit our center, and our open-door policy allows parents to come and visit unannounced and as often as they choose to, as long as your child is enrolled in the program. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col card" style="border: none;">
          <div class="card-text">
              <div class="card-body">
                      <img  class="card-img"
                      src="../../assets/images/ryan-wallace-azA1hLbjBBo-unsplash.jpg">
              </div>
          </div>
      </div>

    </div>
    </mat-card>
</div>

<br>

<div class="container">
    <mat-card>
    <div class="card-deck card-columns row">
        <div class="col card" style="border: none;">
            <br>
            <br> 
            <br>
            <br>
            <br>
            <br>
            <mat-card>
                <mat-card-title>Mission Statement</mat-card-title>
                <mat-card-content>
                   <p>
                    At Kiddie Korner Private School, our mission is to provide child care that meets the needs of each child and family in a safe, educational environment. We Pride our Center’s focus on the individual needs of each child, while providing quality, reliable and safe child care.
                   </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col card" style="border: none;">
          <div class="card-text">
              <div class="card-body">
                      <img  class="card-img"
                      src="../../assets/images/element5-digital-OyCl7Y4y0Bk-unsplash.jpg">
              </div>
          </div>
      </div>

    </div>
    </mat-card>
</div>