<mat-card>
    <mat-card-title>Tuition</mat-card-title>
</mat-card>

<br>

<div class="container">
    <mat-card>
        <mat-card-content>
            <p>
                Kiddie Korner Private School offers competitive tuition 
                rates. Daily breakfast, lunch and afternoon snack is included in your tuition 
                payment.
            </p>
            <p>
                Each Child's tuition is an ongoing fee, which may be separated into weekly, biweekly, or monthly payments. Please inform the office as to which payment method you and your family would like to follow. <strong>ALL TUITION IS DUE ON MONDAY THE WEEK OF SERVICE. HOWEVEER, IF PAYMENT IS NOT PAID BEFORE THE END OF THE SCHOOL DAY IT IS CONSIDERED LATE AND YOU WILL BE CHARGED A $5 LATE FEE EVERY DAY THAT IT IS LATE.</strong> 
            </p>
            <p>
                <strong>NOTE:</strong> In order that we can provide the services that your children are entitled to, it is essential that the financial status of the school be stable. The school salaries and overhead expenses cannot be reduced because of "absentee losses" in income. <strong>THEREFORE, THERE IS NO REDUCTION IN TUITION FOR ILLNESS, HOLIDAYS, AND INCLEMENT WEATHER.</strong> Each child is entitled to a one (1) week vacation 
            </p>
            <p>
                Texas CCS participants are welcome to enroll their child at as we do accept 
                subsidy payments directly from the state. Texas childcare subsidy participants 
                are still responsible for the "balanced billing" portion of tuition each 
                month.
            </p>
            <p>
                For information on current tuition rates and fees please come by the center 
                for a tour.
            </p>
            <p>
                For more information on tuition policies please review our Parent Handbook 
                and Tuition Agreement.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<br>