<mat-card>
    <mat-card-title style="font-family: 'Josefin Sans', sans-serif;">Curriculum</mat-card-title>
</mat-card>

<br>

<div class="container">

    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    
<!--Start Accordion-->
    <mat-accordion class="example-headers-align" multi>
<!--Start Panel-->
        <mat-expansion-panel>
<!--Pannel Info While Closed-->
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>
                    Infants
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </p>
                </mat-panel-title>
                <mat-panel-description>
                6 Weeks - 12 Months
                </mat-panel-description>
            </mat-expansion-panel-header>
<!--Open Panel Info-->
<div class="container">
    <div class="card-deck card-columns row">

        <div class="col card">
            <div class="card-text">
                <div class="card-body">
                  <p class="card-text">
                    Our Infant program allows babies to grow and learn every day. We offer a safe and nurturing home away from home where children can explore and make new discoveries. Children learn through play and our program is designed to provide infants with the skills that serve as building blocks for a lifetime of learning. We are committed to making this first transition away from home easy and natural for you and your child.We offer daily reports, so you can keep track of your child’s day here at the center. Our daily infant reports include complete daily feeding, diapering history.
                  </p>
                </div>
            </div>
        </div>

        <div class="col card" style="border: none;">
          <div class="card-text">
              <div class="card-body">
                      <img  class="card-img"
                      src="../../../assets/images/troy-t-WA2EE7YtzC4-unsplash.jpg" alt="map">
              </div>
          </div>
      </div>

    </div>
</div>
        </mat-expansion-panel>
 <!--End Panel-->      
 <!--Start Panel-->
 <mat-expansion-panel>
    <!--Pannel Info While Closed-->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      <p>
                        Toddlers
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      </p>
                    </mat-panel-title>
                    <mat-panel-description>
                    13 Months - 23 Months
                    </mat-panel-description>
                </mat-expansion-panel-header>
<!--Open Panel Info-->
    <div class="container">
        <div class="card-deck card-columns row">
    
            <div class="col card">
                <div class="card-text">
                    <div class="card-body">
                      <p class="card-text">
                        Our Toddler program helps children build friendships, confidence, and curiosity. Our staff will assist them to explore their world in a safe and nurturing environment. Each day is filled with fun activities that excite and help children develop in ways that give them the comfort and confidence to grow and develop both cognitively, socially. We offer daily reports, so you can keep track of your child’s day here at the center.
                      </p>
                    </div>
                </div>
            </div>
    
            <div class="col card" style="border: none;">
              <div class="card-text">
                  <div class="card-body">
                          <img  class="card-img"
                          src="../../../assets/images/la-rel-easter-KuCGlBXjH_o-unsplash.jpg" alt="map">
                  </div>
              </div>
          </div>
    
        </div>
    </div>
            </mat-expansion-panel>
<!--End Panel-->   
<!--Start Panel-->
<mat-expansion-panel>
  <!--Pannel Info While Closed-->
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>
                      Twos
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                  </mat-panel-title>
                  <mat-panel-description>
                  24 Months - 35 Months
                  </mat-panel-description>
              </mat-expansion-panel-header>
  <!--Open Panel Info-->
  <div class="container">
      <div class="card-deck card-columns row">
  
          <div class="col card">
              <div class="card-text">
                  <div class="card-body">
                    <p class="card-text">
                      Emphasis on visual and auditory perception, motor skills, art, constructive play, language development and many more growth-related subjects.
                    </p>
                  </div>
              </div>
          </div>
  
          <div class="col card" style="border: none;">
            <div class="card-text">
                <div class="card-body">
                        <img  class="card-img"
                        src="../../../assets/images/bbc-creative-1w20Cysy1cg-unsplash.jpg" alt="map">
                </div>
            </div>
        </div>
  
      </div>
  </div>
          </mat-expansion-panel>
<!--End Panel-->   
<!--Start Panel-->
<mat-expansion-panel>
  <!--Pannel Info While Closed-->
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>
                      Threes
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                  </mat-panel-title>
                  <mat-panel-description>
                    3 Years - 4 Years
                  </mat-panel-description>
              </mat-expansion-panel-header>
  <!--Open Panel Info-->
  <div class="container">
      <div class="card-deck card-columns row">
  
          <div class="col card">
              <div class="card-text">
                  <div class="card-body">
                    <p class="card-text">
                      Pre-School: Emphasis on visual and auditory perception, motor skills, art, constructive play, language development and many more growth-related subjects.
                    </p>
                  </div>
              </div>
          </div>
  
          <div class="col card" style="border: none;">
            <div class="card-text">
                <div class="card-body">
                        <img  class="card-img"
                        src="../../../assets/images/lucas-alexander-sJuDgtkUyYs-unsplash.jpg" alt="map">
                </div>
            </div>
        </div>
      </div>
  </div>
          </mat-expansion-panel>
<!--End Panel--> 
<!--Start Panel-->
<mat-expansion-panel>
  <!--Pannel Info While Closed-->
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>Fours
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                  </mat-panel-title>
                  <mat-panel-description>
                    <p>
                      4 Years - 5 Years
                    </p>
                  </mat-panel-description>
              </mat-expansion-panel-header>
  <!--Open Panel Info-->
  <div class="container">
      <div class="card-deck card-columns row">
  
          <div class="col card">
              <div class="card-text">
                  <div class="card-body">
                    <p class="card-text">
                      Pre-Kindergarten: Kindergarten readiness with special emphasis on motor skills, language skills, visual and auditory perception, art, constructive play and many more growth related subjects.
                    </p>
                  </div>
              </div>
          </div>
  
          <div class="col card" style="border: none;">
            <div class="card-text">
                <div class="card-body">
                        <img  class="card-img"
                        src="../../../assets/images/bernard-hermant-bbuTpY447gA-unsplash.jpg" alt="map">
                </div>
            </div>
        </div>
      </div>
  </div>
          </mat-expansion-panel>
<!--End Panel--> 
<!--Start Panel-->
<mat-expansion-panel>
  <!--Pannel Info While Closed-->
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p>
                      After Schoolers
                    </p>
                  </mat-panel-title>
                  <mat-panel-description>
                    <p>
                      5 Years - 13 Years
                    </p>
                  </mat-panel-description>
              </mat-expansion-panel-header>
  <!--Open Panel Info-->
  <div class="container">
      <div class="card-deck card-columns row">
  
          <div class="col card">
              <div class="card-text">
                  <div class="card-body">
                    <p class="card-text">
                      We will drop-off and pick up children at designated schools.
                    </p>
                  </div>
              </div>
          </div>
  
          <div class="col card" style="border: none;">
            <div class="card-text">
                <div class="card-body">
                        <img  class="card-img"
                        src="../../../assets/images/jonathan-borba-Z1Oyw2snqn8-unsplash.jpg" alt="map">
                </div>
            </div>
        </div>
      </div>
  </div>
          </mat-expansion-panel>
<!--End Panel--> 
<!--End Accordion-->   
    </mat-accordion>
</div>

<br>