
<div>
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
    
<!--Start Accordion-->
<mat-accordion multi>
<!--Start Panel-->
  <mat-expansion-panel>
<!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
        <mat-panel-title>
          <p>
            Infants
          </p>
        </mat-panel-title>
        <mat-panel-description>
        6 Weeks - 12 Months
        </mat-panel-description>
    </mat-expansion-panel-header>
<!--Open Panel Info-->
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
          <mat-card>
              <mat-card-content>
                Our Infant program allows babies to grow and learn every 
                day. We offer a safe and nurturing home away from home 
                where children can explore and make new discoveries. 
                Children learn through play and our program is designed 
                to provide infants with the skills that serve as 
                building blocks for a lifetime of learning. We are 
                committed to making this first transition away from home 
                easy and natural for you and your child.We offer daily 
                reports, so you can keep track of your child's day here 
                at the center. Our daily infant reports include complete 
                daily feeding, diapering history.
              </mat-card-content>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
          <img src="../../../assets/images/troy-t-WA2EE7YtzC4-unsplash.jpg"
              style="width:600px;height:400px;">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
 <!--End Panel-->      
 <!--Start Panel-->
  <mat-expansion-panel>
    <!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
        <mat-panel-title>
          <p>
            Toddlers
          </p>
        </mat-panel-title>
        <mat-panel-description>
        13 Months - 23 Months
        </mat-panel-description>
    </mat-expansion-panel-header>
<!--Open Panel Info-->
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            Our Toddler program helps children build friendships, 
            confidence, and curiosity. Our staff will assist 
            them to explore their world in a safe and nurturing 
            environment. Each day is filled with fun activities 
            that excite and help children develop in ways that 
            give them the comfort and confidence to grow and 
            develop both cognitively, socially. We offer daily 
            reports, so you can keep track of your child's day 
            here at the center.
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
      <mat-grid-tile>
          <img src="../../../assets/images/la-rel-easter-KuCGlBXjH_o-unsplash.jpg"
              style="width:600px;height:400px;">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
<!--End Panel-->   
<!--Start Panel-->
  <mat-expansion-panel>
  <!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          Twos
        </p>
      </mat-panel-title>
      <mat-panel-description>
      24 Months - 35 Months
      </mat-panel-description>
    </mat-expansion-panel-header>
  <!--Open Panel Info-->

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
              <p>
                Emphasis on visual and auditory perception, motor skills, art, 
                constructive play, language development and many more 
                growth-related subjects.
              </p>
              <p>
                The fun and excitement of learning through exploration continues 
                in our get set classroom, where little ones begin to transition 
                to preschool routines and new conventions of play, supporting 
                all areas of continuous development.
              </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/images/bbc-creative-1w20Cysy1cg-unsplash.jpg"
            style="width:600px;height:400px;">
    </mat-grid-tile>
  </mat-grid-list>
  </mat-expansion-panel>
<!--End Panel-->   
<!--Start Panel-->
  <mat-expansion-panel>
  <!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          Threes
        </p>
      </mat-panel-title>
      <mat-panel-description>
        3 Years - 4 Years
      </mat-panel-description>
    </mat-expansion-panel-header>
  <!--Open Panel Info-->
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          Pre-School: <br>
          The preschool program starts your child's journey into a 
          cooperative learning environment where they can discover interests 
          and learn in a more structured setting. In the preschool classroom, 
          caring and compassionate teachers help your little one turn 
          everyday experiences into fun, educational opportunities.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/images/lucas-alexander-sJuDgtkUyYs-unsplash.jpg"
            style="width:600px;height:400px;">
    </mat-grid-tile>
  </mat-grid-list>
  </mat-expansion-panel>
<!--End Panel--> 
<!--Start Panel-->
  <mat-expansion-panel>
  <!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>Fours
        </p>
      </mat-panel-title>
      <mat-panel-description>
        <p>
          4 Years - 5 Years
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <!--Open Panel Info-->

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <p>
            Pre-Kindergarten: <br>
            As your child prepares for kindergarten and beyond, our pre-k 
            classroom features lots of fun opportunities for learning and 
            innovation to occur every single day!
          </p>
          <p>
            Whether your child needs an extra year before attending full-day 
            kindergarten or has not met the public school age cut-off, this 
            is the perfect place to continue to learn and grow.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../../assets/images/bernard-hermant-bbuTpY447gA-unsplash.jpg"
          style="width:600px;height:400px;">
    </mat-grid-tile>
  </mat-grid-list>
  </mat-expansion-panel>
<!--End Panel--> 
<!--Start Panel-->
  <mat-expansion-panel>
  <!--Pannel Info While Closed-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>
          After Schoolers
        </p>
      </mat-panel-title>
      <mat-panel-description>
        <p>
          5 Years - 13 Years
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <!--Open Panel Info-->

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
          <mat-card-content>
            Created for parents looking for outstanding before and 
            after-school childcare, our program offers excellent and 
            convenient options for the care of elementary school children. Our 
            teachers will help your children with homework, hands-on enrichment 
            activities and more. Transportation services between your child's school and Kiddie Korner.
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../../assets/images/jonathan-borba-Z1Oyw2snqn8-unsplash.jpg"
          style="width:600px;height:400px;">
    </mat-grid-tile>
  </mat-grid-list>
  </mat-expansion-panel>
<!--End Panel--> 
<!--End Accordion-->   
</mat-accordion>

<br>