<div class="container">
    <mat-card>
        <mat-card-title>Welcome to Kiddie Korner Private School</mat-card-title>
        <mat-card-content>
            <p>
                Welcome!  We are excited that you are interested in enrolling your child in our program! Our commitment is to provide a safe, loving, environment and a quality program for you and your child.                
            </p>
            <p>  
                Kiddie Korner Private School is licensed by the state of Texas and abides by the Department of Family and Protective Services rules and regulations, in addition to our own policies and procedures.                 
            </p>
            <p>   
                Involving families in our program is a top priority. This helps build a partnership and help children make the connection between home and the Center. Kiddie Korner Private School serves as an extension of your family and sharing ideas and genuine love for children is of the utmost importance. We encourage parents to visit our center, and our open-door policy allows parents to come and visit unannounced and as often as they choose to, as long as your child is enrolled in the program.
            </p>
            <p>   
                We look forward to partnering with you and again we thank you for choosing Kiddie Korner Private School.                
            </p>
            <br> 
            <p>   
                Sincerely,
            </p>
            <p> 
                Yohana Lozano
                <br>
                Center Director
            </p>
          </mat-card-content>
    </mat-card>
    </div>