
<mat-grid-list cols="{{ this.cols }}" rowHeight="{{ this.rowheight }}">
    <!--Card One-->
    <mat-grid-tile colspan="1" style="cursor: pointer;"
        routerLink="about">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    State-Licensed Child Care
                </mat-card-title>
                <img mat-card-lg-image 
                src="../../assets/images/gautam-arora-OVDtgUhUPBY-unsplash.jpg">
                <mat-card-subtitle>
                    We are proud that our daycare meets all of the state 
                    requirments for licensing.
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>
    <!--Card 2-->
    <mat-grid-tile colspan="1" style="cursor: pointer;"
        routerLink="meals">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Healthy Snacks And Meals
                </mat-card-title>
                <img mat-card-lg-image 
                src="../../assets/images/artur-rutkowski-GdTLaWamFHw-unsplash.jpg">
                <mat-card-subtitle>
                    We are part of the TX USDA Food Program and our children 
                    receive meals that are healthy and nutritious.
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>

    <!--Card 3-->
    <a href="https://cca.childcaregroup.org/ccg" 
    target="_blank">
    <mat-grid-tile colspan="1" style="cursor: pointer;">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>
                    Need Financial Assistance?
                </mat-card-title>
                <img mat-card-lg-image 
                src="../../assets/images/sasun-bughdaryan-EmGF98ckNSU-unsplash.jpg">
                <mat-card-subtitle>
                    See if you qualify and apply by visiting your local 
                    Workforce Solutions website.
                </mat-card-subtitle>
            </mat-card-title-group>
        </mat-card>
    </mat-grid-tile>
    </a>
  </mat-grid-list>