
<div class="container">
    <div class="card-deck">
<!--Start Card-->
        <div class="card">
        <div class="card-body">
            <mat-card-title-group>
                <mat-card-title>
                    State-Licensed Child Care
                </mat-card-title>
                <mat-card-subtitle>
                    We are proud that our daycare meets all of the state requirments for licensing.
                </mat-card-subtitle>
                <img mat-card-lg-image src="../../assets/images/gautam-arora-OVDtgUhUPBY-unsplash.jpg">
            </mat-card-title-group>
                <mat-card-content>
                    <a routerLink="about">
                        <button mat-raised-button color="primary">About Us</button>
                    </a>
                </mat-card-content>
        </div>
        </div>
<!--Start Card-->
        <div class="card">
        <div class="card-body">
            <mat-card-title-group>
                <mat-card-title>
                    Healthy Snacks And Meals
                </mat-card-title>
                <img mat-card-lg-image src="../../assets/images/artur-rutkowski-GdTLaWamFHw-unsplash.jpg">
                <mat-card-subtitle>
                    We are part of the TX USDA Food Program and our children receive hot meals that are healthy and nutritious.
                </mat-card-subtitle>
            </mat-card-title-group>
                <mat-card-content>
                    <a routerLink="meals">
                        <button mat-raised-button color="primary">More Info</button>
                    </a>
                </mat-card-content>
        </div>
        </div>
<!--Start Card-->
        <div class="card">
        <div class="card-body">
            <mat-card-title-group>
                <mat-card-title>
                    Need Financial Assistance?
                </mat-card-title>
                <img mat-card-lg-image src="../../assets/images/sasun-bughdaryan-EmGF98ckNSU-unsplash.jpg">
                <mat-card-subtitle>
                    See if you qualify and apply by visiting your local Workforce Solutions website.
                </mat-card-subtitle>
            </mat-card-title-group>
                <mat-card-content>
                    <a href="https://cca.childcaregroup.org/ccg" 
                target="_blank">
                <button mat-raised-button color="primary">Click Here</button>
                    </a>
                </mat-card-content>
        </div>
        </div>

    </div>
</div>