<mat-grid-list cols="1" rowHeight="1:1.4">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
              <mat-card-title>Kiddie Korner Private School</mat-card-title>
              <mat-card-subtitle>
                <p>
                    We are a licensed by the Texas Department of Family 
                    Protective Services (DFPS) and meet or exceed all state 
                    standards and regulations for child care centers. We have 
                    many years of experience in arly childhood education and we 
                    maintain small group sizes to proide more personal attention 
                    to the needs of all children in our care.
                </p>
                <p>
                    Kiddie Korner is open to all children regardless of race, 
                    church affiliations or creed. Children at Kiddie Korner are 
                    supervised at all time by an adult with teacher and CPR 
                    qualifications.
                </p>
                <p>
                    When accepting a child in Kiddie Korner, our goal is to 
                    provide each child with the best possible environment though 
                    education, love and care.
                </p>
                <p>
                    Involving families in our program is a top priority. This 
                    helps build a partnership and help children make the 
                    connection between home and the Center. Kiddie Korner 
                    Private School serves as an extension of your family and 
                    sharing ideas and genuine love for children is of the utmost 
                    importance.
                </p>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="1" rowHeight="1:.6">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title-group>
              <mat-card-title>Mission Statement</mat-card-title>
              <mat-card-subtitle>
                At Kiddie Korner Private School, our mission is to provide child care that meets the needs of each child and family in a safe, educational environment. We Pride our Center’s focus on the individual needs of each child, while providing quality, reliable and safe child care.
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>